<h1>Cat or Not Winners</h1>

<% unless @winners.length < 3 %>
   <div class="row">
     <div class="col4"><h3>First Place</h3></div>
     <div class="col4"><h3>Second Place</h3></div>
     <div class="col4"><h3>Third Place</h3></div>
   </div>
   <div class="row">
     <div class="col4"><%= image_tag @winners[0].pic.url(:medium) %></div>
     <div class="col4"><%= image_tag @winners[1].pic.url(:medium) %></div>
     <div class="col4"><%= image_tag @winners[1].pic.url(:medium) %></div>
   </div>
   <div class="row">
     <div class="col4"><%= @winners[0].name %></div>
     <div class="col4"><%= @winners[1].name %></div>
     <div class="col4"><%= @winners[1].name %></div>
   </div>
<% end %>

<% if @cat %>
 <%= link_to("Vote On Cats", new_cat_vote_path(@cat)) %>
<% end %>

<%= link_to("Upload Your Cat", new_cat_path) %>
