<h1>Tind-purr Winners</h1>

<% unless @winners.length < 3 %>
   <div class="row">
     <% @winners.each_with_index do |cat, i| %>
     
       <div class="col s4">
         <h3 class="center-align"><%= (i + 1).ordinalize %></h3>
         <figure>
           <%= image_tag(cat.pic.url(:medium), alt: cat.name, class: "responsive-img") %>
           <figcaption><%= cat.name %></figcaption>
         </figure>    
       </div>
     <% end %>
   </div>
<% end %>

<div class="row">
  

</div>

<div class="row">
  <div class="col s4">
    <% if @cat %>
      <%= link_to("Vote On Cats", new_cat_vote_path(@cat), class: "waves-effect waves-light btn") %>
      <% end %>
  </div>
  <div class="col s4">
     <%= link_to("Upload Your Cat", new_cat_path, class: "waves-effect waves-light btn") %>
  </div>
  <div class="col s4">
     <%= link_to("See All The Cats", cats_path, class: "waves-effect waves-light btn") %>
  </div>
</div>
