<div class="row">
  <div class="col s6">
    <figure>
      <%= image_tag(@cat.pic.url(:medium), :alt => @cat.name) %>
      <figcaption><%= @cat.name %></figcaption>
    </figure>    
  </div>

  <div class="col s6">
    <%= simple_form_for(@vote, url: cat_votes_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs" >
      <%= f.input :cat_id, as: :hidden %>
      <label class="range required" for="vote_score">Score</label>
      <div class="range-field">
        <input type="range" class="validate required initialized"
            error_class="invalid"
             required="required"
             aria-required="true"
             id="vote_score"
             name="vote[score]"
             min="1"
             max="10" />

      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Vote" %>
    </div>
  </div>
</div>

<% end %>
