<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @vote.score %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @vote.cat_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
